{% extends "basenueva.html" %}
{%load unslugify %}
{% load i18n %}
{% block extra_header %}
<script type="text/javascript">
function Grafo4(){
	var chart = new Highcharts.Chart({
	      chart: {
	         renderTo: 'grafo',
	         defaultSeriesType: 'pie',
	         height: 350,
             width: 520
	      },
	      title: {
	         text: '{% trans "Rangos de Manzanas" %}'
	      },
	      tooltip: {
	         formatter: function() {
	            return '<b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(1) +' %';
	         }
	      },
	      plotOptions: {
	          pie: {
	              allowPointSelect: true,
	              cursor: 'pointer',
	              dataLabels: {
	                 enabled: false
	              },
	              showInLegend: true
	           },
	           series: {
	              dataLabels: {
	                  enabled: true,
	                  align: "center",
	                  formatter: function() {
	                      return ''+ this.percentage.toFixed(1) + ' %';
	                  },
	                  color: '#000',
	                  style: {
	                      font: '12px Trebuchet MS, Verdana, sans-serif'
	                  }
	              }
	          }
	      },
	       series: [{
	         name: '{% trans "Rangos de manzanas" %}',
	         data: [
	            ['0 Mz',   {{por_cero}}],
	            ['1 - 10 Mz', {{por_rango1}}],
	            ['11 - 25 Mz', {{por_rango2}}],
	            ['26 - 50 Mz',  {{por_rango3}}],
	            ['{% trans "más de 50 Mz" %}', {{por_rango4}}]
	         ]
	      }]
	 });
}

function Grafo5(){
	var chart = new Highcharts.Chart({
        chart: {
            renderTo: 'grafo',
            defaultSeriesType: 'column',
            height: 350,
            width: 520
        },
        title: {
            text: '{% trans "Uso de tierra" %}'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: [
                '{% trans "Opciones" %}'
            ]
        },
        yAxis: {
            min: 0,
            title: {
                text: '{% trans "Cantidad Mz" %}'
            }
        },

        tooltip: {
            formatter: function() {
                return ''+
                    this.series.name +': '+ this.y +'';
            }
        },
        plotOptions: {
            column: {
                groupPadding: 0,
                pointPadding: 0.9,
                borderWidth: 0
            },
            series: {
                pointWidth: 40,
                minPointLength : 1
            }
        },
        series: [{% for key, value in tabla.items %}
            {
                name: '{{key|unslugify}}',
                data: [{%if value.manzanas == None%} 0 {%else%} {{value.manzanas}} {%endif%}],
                dataLabels: {
                    enabled: true,
                    rotation: 0,
                    color: '#632D00',
                    align: 'center',
                    x: -3,
                    y: 0,
                        formatter: function() {
                            return this.y + '';
                                              },
                    style: {
                        font: 'normal 13px Verdana, sans-serif'
                            }
                }
            },
            {% endfor %}]
    });
}

</script>
<script type="text/javascript">
    //si activo es 0 el html interno esta vacio
    //caso si activo es otro num sustituir grafico
    //si activo es el mismo id, esconder grafico
    var activo = 0;
    $.ajaxSetup({ cache: false });
    function click_callback(id){
        $.getJSON('/grafo/fincas/' + id, function(data) {
            if (activo != id){
                $("#grafo").html('<img src="' + data.url + '" />');
                activo = id;
            }else{
                $("#grafo").html('');
                activo = 0;
            }
        });
    }
</script>
<script type="text/javascript">
$(document).ready(function () {
	$(".usotierra").addClass("activa");

	$('.grafo').click(function(){
        $('.grafo').each(function(){
            $(this).removeClass('grafohover');
        });
       $(this).addClass('grafohover');
       return false;
    });
});
</script>

{%endblock%}
{% block barra %}
<div class="indicadores">
	{% include "nav_tierra.html" %}
</div>
{% endblock %}
{% block content%}
{% include "filtros.html" %}
<div class="sidebar">
    <div class="subindicador">{% trans "Gráficos" %}</a></div>
    <div>
	    <a href="#" id="grafico1" onclick="click_callback('tenencia')" class="grafo">{% trans "Tenencia de las Parcelas" %}</a>
	    <a href="#" id="grafico3" onclick="click_callback('propietario')" class="grafo">{% trans "Dueño de la Propiedad" %}</a>
	    <a href="#" id="grafico4" onclick="Grafo4();" class="grafo">{% trans "Rangos en Manzanas" %}</a>
	    <a href="#" id="grafico5" onclick="Grafo5();" class="grafo">{% trans "Uso de tierra" %}</a>
    </div>
    <div class="clean"></div>
    <div id="grafo"></div>
</div>



<div class="contenido mediatabla">
<div class="subindicador">{% trans "Uso de Tierra" %}
    {%if LANGUAGE_CODE == 'es' %}
        <a href="#" class="btn btn-mini exportar guardarXLS" onclick="exportarXLS('modalidad'); return false;"><img src="{{STATIC_URL}}img/excel.png"> Exportar</a>
    {%endif%}
    {%if LANGUAGE_CODE == 'en' %}
        <a href="#" class="btn btn-mini exportar guardarXLS" onclick="exportarXLS('modalidad'); return false;"><img src="{{STATIC_URL}}img/excel.png"> Export</a>
    {%endif%}
    </div>
    <div id="modalidad">
    <table style="width:100%;">
        <thead>
            <tr>
                <th></th>
                <th>{% trans "Número" %}</th>
                <th>%</th>
                <th>{% trans "Manzanas" %}</th>
                <th>%</th>
            </tr>
        </thead>
        <tbody>

            {%for key, value in tabla.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.numero|floatformat}}</td>
                <td>{{value.porcentaje_num|floatformat}}</td>
                <td>{{value.manzanas|floatformat}}</td>
                <td>{{value.porcentaje_mz|floatformat}}</td>
            </tr>
            {%endfor%}
                <tr>
                    <th>Area Total</th>
                    <th></th>
                    <th></th>
                    <th>{{totales.manzanas}}</th>
                    <th>{{totales.porcentaje_manzana}}</th>
                </tr>
        </tbody>
    </table>
    <table>
    </br>
        <tr>
        <th>{% trans "Promedio Mz:" %} {{totales.promedio_manzana}}</th>
        </tr>
    </table>
  <br>
<table style="width:100%;">
        <thead>
            <tr>
                <th>{% trans "Rangos" %}</th>
                <th>{% trans "Frecuencias" %}</th>
                <th>%</th>
            </tr>
        </thead>
        <tbody>
            <tr>
			    <td>0 Mz</td>
			    <td>{{cero}}</td>
			    <td>{{por_cero}}</td>

		    </tr>
		    <tr>
			    <td>1 -- 10 Mz</td>
			    <td>{{rango1}}</td>
			    <td>{{por_rango1}}</td>

		    </tr>
		    <tr>
			    <td>11 -- 25 Mz</td>
			    <td>{{rango2}}</td>
			    <td>{{por_rango2}}</td>

		    </tr>
		    <tr>
			    <td>26 -- 50 Mz</td>
			    <td>{{rango3}}</td>
			    <td>{{por_rango3}}</td>

		    </tr>
		    <tr>
			    <td>{% trans "Más de 50 Mz" %}</td>
			    <td>{{rango4}}</td>
			    <td>{{por_rango4}}</td>

		    </tr>
            <tr>
                <th>{% trans "Rangos Total" %}</th>
                <th>{{total_rangos}}</th>
                <th>{{total_porcentajes}}</th>
            </tr>
        </tbody>
    </table>
</div>
</div>
<div class="clean"></div>
<br></br>
{% endblock %}
