{% extends "basenueva.html"%}
{%load unslugify %}
{% load i18n %}

{%block extra_header%}
<script type="text/javascript">
    $(document).ready(function() {
        $(".suelo").addClass("activa");
    });
</script>
{%endblock%}
{% block barra %}

<div class="indicadores">
	{% include "nav_suelo.html" %}
</div>
{% endblock %}

{% block content %}
{% include "filtros.html" %}
<div class="contenido fulltabla">
 <div class="subindicador">{% trans "¿Cúal es el tipo de textura del suelo?" %}
  {%if LANGUAGE_CODE == 'es' %}
        <a href="#" class="btn btn-mini exportar guardarXLS" onclick="exportarXLS('modalidad'); return false;"><img src="{{STATIC_URL}}img/excel.png"> Exportar</a>
    {%endif%}
    {%if LANGUAGE_CODE == 'en' %}
        <a href="#" class="btn btn-mini exportar guardarXLS" onclick="exportarXLS('modalidad'); return false;"><img src="{{STATIC_URL}}img/excel.png"> Export</a>
    {%endif%}
    </div>
    <div id="modalidad">
    <table  style="width:100%;">
        <thead>
            <tr>
                <th>{% trans "Texturas" %}</th>
                <th>{% trans "Número" %}</th>
                <th>%</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in tabla_textura.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.textura|floatformat}}</td>
                <td>{{value.por_textura|floatformat}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
 <div class="subindicador">{% trans "¿Cúal es la profundidad del suelo?" %}</div>
    <table  style="width:100%;">
        <caption></caption>
        <thead>
            <tr>
                <th>{% trans "Profundidad" %}</th>
                <th>{% trans "Número" %}</th>
                <th>%</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in tabla_profundidad.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.profundidad|floatformat}}</td>
                <td>{{value.por_profundidad|floatformat}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
 <div class="subindicador">{% trans "¿Cómo es la presencia de lombrice en el suelo?" %}</div>
    <table  style="width:100%;">
        <thead>
            <tr>
                <th>{% trans "Presencia de Lombrices" %}</th>
                <th>{% trans "Número" %}</th>
                <th>%</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in tabla_lombrices.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.lombrices|floatformat}}</td>
                <td>{{value.por_lombrices|floatformat}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
 <div class="subindicador">{% trans "¿Cómo es la densidad de raiz en la capa productiva de suelo?" %}</div>
    <table  style="width:100%;">
        <thead>
            <tr>
                <th>{% trans "Densidad" %}</th>
                <th>{% trans "Número" %}</th>
                <th>%</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in tabla_densidad.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.densidad|floatformat}}</td>
                <td>{{value.por_densidad|floatformat}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
 <div class="subindicador">{% trans "¿Cúal es la pendiente del terrreno?" %}</div>
    <table  style="width:100%;">
        <caption></caption>
        <thead>
            <tr>
                <th>{% trans "Pendientes" %}</th>
                <th>{% trans "Número" %}</th>
                <th>%</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in tabla_pendiente.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.pendiente|floatformat}}</td>
                <td>{{value.por_pendiente|floatformat}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
 <div class="subindicador">{% trans "¿Cómo es el drenaje del suelo?" %}</div>
    <table  style="width:100%;">
        <thead>
            <tr>
                <th>{% trans "Drenaje" %}</th>
                <th>{% trans "Número" %}</th>
                <th>%</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in tabla_drenaje.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.drenaje|floatformat}}</td>
                <td>{{value.por_drenaje|floatformat}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
 <div class="subindicador">{% trans "¿Cómo es el contenido de materia orgánica?" %}</div>
    <table  style="width:100%;">

        <thead>
            <tr>
                <th>{% trans "Contenido" %}</th>
                <th>{% trans "Número" %}</th>
                <th>%</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in tabla_materia.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.materia|floatformat}}</td>
                <td>{{value.por_materia|floatformat}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>

</div>
</div>
<div class="clean"></div>
{% endblock %}
