{% extends "basenueva.html"%}
{% load humanize %}
{% load i18n %}
{% block barra %}
{% endblock %}
{%load unslugify %}
{% block extra_header %}
<script type="text/javascript">
    var activo = 0;
    $.ajaxSetup({ cache: false }); 
    function click_callback(id){
        $.getJSON('/grafo/ingreso/' + id, function(data) {
            if (activo!= id){
                $("#grafo").html('<img src="' + data.url + '" />');
                activo = id;
            }else{
                $("#grafo").html('');
                activo = 0;
            }
        });
    }
</script>
<script type="text/javascript">
$(document).ready(function () {
    $('.grafo').click(function(){
        $('.grafo').each(function(){
            $(this).removeClass('grafohover');
        });
        $(this).addClass('grafohover');
    });
});

function Grafo8(){
       var chart = new Highcharts.Chart({
            chart: {
                renderTo: 'grafo',
                defaultSeriesType: 'column'
            },
            title: {
                text: '{% trans "Ingreso por sistema de produccion" %}'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                    '{% trans "Opciones" %}'   
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: '{% trans "Cantidad" %}'
                }
            },
            
            tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': '+ this.y +'';
                }
            },
            plotOptions: {
                column: {
                    groupPadding: 0,
                    pointPadding: 0.9,
                    borderWidth: 0
                },
                series: {
                    pointWidth: 33,
                    minPointLength : 1
                }
            },
            series: [{%for a in grafo%}
            {%for k,v in a.items%}
                {   
                    name: '{{k|unslugify}}',
                    data: [{{v}}],
                    dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#632D00',
                        align: 'center',
                        x: -3,
                        y: 0,
                            formatter: function() {
                                return this.y + '';
                                                  },
                        style: {
                            font: 'normal 10px Verdana, sans-serif'
                                }
                                }
                     
                },
           {%endfor%}
                {%endfor%}]
        });
    }
    

function Grafo9(){
     var  chart = new Highcharts.Chart({
            chart: {
                renderTo: 'grafo',
                defaultSeriesType: 'column'
            },
            title: {
                text: '{% trans "Número de rubros en cada sistema de produccion" %}'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                    '{% trans "Opciones" %}'   
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: '{% trans "Cantidad" %}'
                }
            },
            
            tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': '+ this.y +'';
                }
            },
            plotOptions: {
                column: {
                    groupPadding: 0,
                    pointPadding: 0.9,
                    borderWidth: 0
                },
                series: {
                    pointWidth: 33,
                    minPointLength : 1
                }
            },
            series: [{%for a in cuantos%}
            {%for k,v in a.items%}
                {   
                    name: '{{k|unslugify}}',
                    data: [{{v}}],
                    dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#632D00',
                        align: 'center',
                        x: -3,
                        y: 0,
                            formatter: function() {
                                return this.y + '';
                                                  },
                        style: {
                            font: 'normal 10px Verdana, sans-serif'
                                }
                                }
                     
                },
           {%endfor%}
                {%endfor%}]
        });
    }
    
function Grafo10(){
	var chart = new Highcharts.Chart({
	      chart: {
	         renderTo: 'grafo',
	         defaultSeriesType: 'pie',
	         height: 350,
             width: 520	         
	      },
	      title: {
	         text: '{% trans "Ingreso por clase" %}'
	      },
	      tooltip: {
	         formatter: function() {
	            return '<b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(1) +' %';
	         }
	      },
	      plotOptions: {
	          pie: {
	              allowPointSelect: true,
	              cursor: 'pointer',
	              dataLabels: {
	                 enabled: false
	              },
	              showInLegend: true
	           },
	           series: {
	              dataLabels: {
	                  enabled: true,
	                  align: "center",
	                  formatter: function() {
	                      return ''+ this.percentage.toFixed(1) + ' %';
	                  },
	                  color: '#000',
	                  style: {
	                      font: '12px Trebuchet MS, Verdana, sans-serif'
	                  }
	              }
	          }
	      },
	       series: [{         
	         name: '{% trans "Ingresos de clases" %}',
	         data: [
	            ['Ingreso agropecuario - C${{respuesta.ingreso}}',   {{respuesta.ingreso}}],
	            ['Otros ingresos - C${{respuesta.ingreso_otro}}', {{respuesta.ingreso_otro}}]
	         ]
	      }]
	 });	
}   
    
</script>
{% endblock %}
{%block content%}
{% include "filtros.html" %}
    <div class="sidebar" style="width:500px; padding-bottom:13px;" >
        <div class="subindicador">{% trans "Gráficos ingresos" %}</div>
            
            <a href="#" id="grafico1" onCLick="click_callback('vendio')"class="grafo">{% trans "A quién venden?" %}</a>
            <a href="#" id="grafico2" onCLick="click_callback('maneja')"class="grafo">{% trans "Quién maneja el negocio?" %}</a>
            <a href="#" id="grafico3" onCLick="click_callback('ingreso')"class="grafo">{% trans "Quién tiene los ingresos?" %}</a>
            <a href="#" id="grafico8" onclick="Grafo8();" class="grafo">{% trans "Ingreso por sistema" %}</a>
            <a href="#" id="grafico9" onCLick="Grafo9();" class="grafo">{% trans "Número de rubro en cada sistema" %}</a>
            <a href="#" id="grafico9" onCLick="Grafo10();" class="grafo">{% trans "Ingreso por clase" %}</a>
            <br></br><br></br><br></br><br></br>
        <div class="subindicador">{% trans "Gráficos Otros ingresos" %}</div>
            
            <a href="#" id="grafico4" onCLick="click_callback('salario')"class="grafo">{% trans "Tipos de Salarios" %}</a>
            <a href="#" id="grafico5" onCLick="click_callback('negocio')"class="grafo">{% trans "Tipos de Negocio" %}</a>
            <a href="#" id="grafico6" onCLick="click_callback('remesa')"class="grafo">{% trans "Tipos Remesas" %}</a>
            <a href="#" id="grafico7" onCLick="click_callback('alquiler')"class="grafo">{% trans "Tipo alquiler" %}</a>

       <div id="grafo"  style="width:500px; overflow-y:auto"></div>
    </div>
 <div class="contenido" style="width:460px">
<div class="subindicador">{% trans "INGRESO" %}  &raquo; {% trans "Los Ingresos familiares" %} 
    {%if LANGUAGE_CODE == 'es' %}
        <a href="#" class="btn btn-mini exportar guardarXLS" onclick="exportarXLS('modalidad'); return false;"><img src="{{STATIC_URL}}img/excel.png"> Exportar</a>
    {%endif%}
    {%if LANGUAGE_CODE == 'en' %}
        <a href="#" class="btn btn-mini exportar guardarXLS" onclick="exportarXLS('modalidad'); return false;"><img src="{{STATIC_URL}}img/excel.png"> Export</a>
    {%endif%}
    </div>

<div id="modalidad">
    <table style="width:100%" id="sortTableExample">
        <caption>{% trans "Agroforestales" %}</caption>
        <thead>
            <tr>
                <th style="font-size:9px;">{% trans "RUBROS" %}</th>
                <th style="font-size:9px;">{% trans "Número de familias que venden" %}</th>
                <th style="font-size:9px;">{% trans "Unidad" %}</th>
                <th style="font-size:9px;">{% trans "Cantidad vendida por familia" %}</th>
                <th style="font-size:9px;">{% trans "Precio promedio" %}</th>
                <th style="font-size:9px;">{% trans "Ingreso por venta" %}</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in agro.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.numero|floatformat}}</td>
                <td>{{value.key2|unslugify}}</td>
                <td>{{value.cantidad|floatformat}}</td>
                <td>{{value.precio|floatformat:2}}</td>
                <td>{{value.ingreso|floatformat}}</td>

                {%endfor%}
        </tbody>
        <tr>
            <th>{% trans "TOTAL VENTA RUBROS" %}</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>{{total_agro|intcomma}}</th>
        </tr>

    </table>
    <br></br>
    <table style="width:100%" id="sortTableExample">
        <caption>{% trans "Forestales" %}</caption>
        <thead>
            <tr>
                <th style="font-size:9px;">{% trans "RUBROS" %}</th>
                <th style="font-size:9px;">{% trans "Número de familias que venden" %}</th>
                <th style="font-size:9px;">{% trans "Unidad" %}</th>
                <th style="font-size:9px;">{% trans "Cantidad vendida por familia" %}</th>
                <th style="font-size:9px;">{% trans "Precio promedio" %}</th>
                <th style="font-size:9px;">{% trans "Ingreso por venta" %}</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in forestal.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.numero|floatformat}}</td>
                <td>{{value.key2|unslugify}}</td>
                <td>{{value.cantidad|floatformat}}</td>
                <td>{{value.precio|floatformat:2}}</td>
                <td>{{value.ingreso|floatformat}}</td>

                {%endfor%}
        </tbody>
        <tr>
            <th>{% trans "TOTAL VENTA RUBROS" %}</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>{{total_forestal|intcomma}}</th>
        </tr>

    </table>
    <br></br>
    <table style="width:100%" id="sortTableExample">
        <caption>{% trans "Granos básicos" %}</caption>
        <thead>
            <tr>
                <th style="font-size:9px;">{% trans "RUBROS" %}</th>
                <th style="font-size:9px;">{% trans "Número de familias que venden" %}</th>
                <th style="font-size:9px;">{% trans "Unidad" %}</th>
                <th style="font-size:9px;">{% trans "Cantidad vendida por familia" %}</th>
                <th style="font-size:9px;">{% trans "Precio promedio" %}</th>
                <th style="font-size:9px;">{% trans "Ingreso por venta" %}</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in grano_basico.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.numero|floatformat}}</td>
                <td>{{value.key2|unslugify}}</td>
                <td>{{value.cantidad|floatformat}}</td>
                <td>{{value.precio|floatformat:2}}</td>
                <td>{{value.ingreso|floatformat}}</td>

                {%endfor%}
        </tbody>
        <tr>
            <th>{% trans "TOTAL VENTA RUBROS" %}</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>{{total_basico|intcomma}}</th>
        </tr>

    </table>
    <br></br>
    <table style="width:100%" id="sortTableExample">
        <caption>{% trans "Ganado mayor" %}</caption>
        <thead>
            <tr>
                <th style="font-size:9px;">{% trans "RUBROS" %}</th>
                <th style="font-size:9px;">{% trans "Número de familias que venden" %}</th>
                <th style="font-size:9px;">{% trans "Unidad" %}</th>
                <th style="font-size:9px;">{% trans "Cantidad vendida por familia" %}</th>
                <th style="font-size:9px;">{% trans "Precio promedio" %}</th>
                <th style="font-size:9px;">{% trans "Ingreso por venta" %}</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in ganado_mayor.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.numero|floatformat}}</td>
                <td>{{value.key2|unslugify}}</td>
                <td>{{value.cantidad|floatformat}}</td>
                <td>{{value.precio|floatformat:2}}</td>
                <td>{{value.ingreso|floatformat}}</td>

                {%endfor%}
        </tbody>
        <tr>
            <th>{% trans "TOTAL VENTA RUBROS" %}</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>{{total_ganado|intcomma}}</th>
        </tr>

    </table>
    <br></br>
    <table style="width:100%" id="sortTableExample">
        <caption>{% trans "Animales de patio" %}</caption>
        <thead>
            <tr>
                <th style="font-size:9px;">{% trans "RUBROS" %}</th>
                <th style="font-size:9px;">{% trans "Número de familias que venden" %}</th>
                <th style="font-size:9px;">{% trans "Unidad" %}</th>
                <th style="font-size:9px;">{% trans "Cantidad vendida por familia" %}</th>
                <th style="font-size:9px;">{% trans "Precio promedio" %}</th>
                <th style="font-size:9px;">{% trans "Ingreso por venta" %}</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in patio.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.numero|floatformat}}</td>
                <td>{{value.key2|unslugify}}</td>
                <td>{{value.cantidad|floatformat}}</td>
                <td>{{value.precio|floatformat:2}}</td>
                <td>{{value.ingreso|floatformat}}</td>

                {%endfor%}
        </tbody>
        <tr>
            <th>{% trans "TOTAL VENTA RUBROS" %}</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>{{total_patio|intcomma}}</th>
        </tr>

    </table>
    <br></br>
    <table style="width:100%" id="sortTableExample">
        <caption>{% trans "Hortalizas y frutas" %}</caption>
        <thead>
            <tr>
                <th style="font-size:9px;">{% trans "RUBROS" %}</th>
                <th style="font-size:9px;">{% trans "Número de familias que venden" %}</th>
                <th style="font-size:9px;">{% trans "Unidad" %}</th>
                <th style="font-size:9px;">{% trans "Cantidad vendida por familia" %}</th>
                <th style="font-size:9px;">{% trans "Precio promedio" %}</th>
                <th style="font-size:9px;">{% trans "Ingreso por venta" %}</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in frutas.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.numero|floatformat}}</td>
                <td>{{value.key2|unslugify}}</td>
                <td>{{value.cantidad|floatformat}}</td>
                <td>{{value.precio|floatformat:2}}</td>
                <td>{{value.ingreso|floatformat}}</td>

                {%endfor%}
        </tbody>
        <tr>
            <th>{% trans "TOTAL VENTA RUBROS" %}</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>{{total_fruta|intcomma}}</th>
        </tr>

    </table>
    <br></br>
    <table style="width:100%" id="sortTableExample">
        <caption>{% trans "Musaceas" %}</caption>
        <thead>
            <tr>
                <th style="font-size:9px;">{% trans "RUBROS" %}</th>
                <th style="font-size:9px;">{% trans "Número de familias que venden" %}</th>
                <th style="font-size:9px;">{% trans "Unidad" %}</th>
                <th style="font-size:9px;">{% trans "Cantidad vendida por familia" %}</th>
                <th style="font-size:9px;">{% trans "Precio promedio" %}</th>
                <th style="font-size:9px;">{% trans "Ingreso por venta" %}</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in musaceas.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.numero|floatformat}}</td>
                <td>{{value.key2|unslugify}}</td>
                <td>{{value.cantidad|floatformat}}</td>
                <td>{{value.precio|floatformat:2}}</td>
                <td>{{value.ingreso|floatformat}}</td>

                {%endfor%}
        </tbody>
        <tr>
            <th>{% trans "TOTAL VENTA RUBROS" %}</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>{{total_musaceas|intcomma}}</th>
        </tr>

    </table>
    <br></br>
    <table style="width:100%" id="sortTableExample">
        <caption>{% trans "Raíces y tubérculos" %}</caption>
        <thead>
            <tr>
                <th style="font-size:9px;">{% trans "RUBROS" %}</th>
                <th style="font-size:9px;">{% trans "Número de familias que venden" %}</th>
                <th style="font-size:9px;">{% trans "Unidad" %}</th>
                <th style="font-size:9px;">{% trans "Cantidad vendida por familia" %}</th>
                <th style="font-size:9px;">{% trans "Precio promedio" %}</th>
                <th style="font-size:9px;">{% trans "Ingreso por venta" %}</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in raices.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.numero|floatformat}}</td>
                <td>{{value.key2|unslugify}}</td>
                <td>{{value.cantidad|floatformat}}</td>
                <td>{{value.precio|floatformat:2}}</td>
                <td>{{value.ingreso|floatformat}}</td>

                {%endfor%}
        </tbody>
        <tr>
            <th>{% trans "TOTAL VENTA RUBROS" %}</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>{{total_raices|intcomma}}</th>
        </tr>

    </table>
    <br></br>
    <table>
        <th>{% trans "Ingreso agropecuario:" %} {{respuesta.ingreso|intcomma}}</th>
    </table>
</div>
    <br><div class="subindicador">{% trans "INGRESO" %}  &raquo; {% trans "Los Otros Ingresos familiares" %} 
        {%if LANGUAGE_CODE == 'es' %}
        <a href="#" class="btn btn-mini exportar guardarXLS" onclick="exportarXLS('modalidad2'); return false;"><img src="{{STATIC_URL}}img/excel.png"> Exportar</a>
    {%endif%}
    {%if LANGUAGE_CODE == 'en' %}
        <a href="#" class="btn btn-mini exportar guardarXLS" onclick="exportarXLS('modalidad2'); return false;"><img src="{{STATIC_URL}}img/excel.png"> Export</a>
    {%endif%}
    </div>
    <br>
    <div id="modalidad2">
    <table style="width:100%;" id="sortTableExample">
        <caption></caption>
        <thead>
            <tr>
                <th>{% trans "FUENTES" %}</th>
                <th>{% trans "NÚMERO DE FAMILIAS" %}</th>
                <th>{% trans "TOTAL MESES" %}</th>
                <th>{% trans "INGRESO MENSUAL PROMEDIO" %}</th>
                <th>{% trans "INGRESO TOTAL PROMEDIO" %}</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in matriz.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.frecuencia|floatformat}}</td>
                <td>{{value.meses|floatformat}}</td>
                <td>{{value.ingreso|floatformat}}</td>
                <td>{{value.ingresototal|floatformat}}</td>
            </tr>
            {%endfor%}
        </tbody>
        <tr>
            <th>{% trans "TOTAL OTROS INGRESO" %}</th>
            <th></th>
            <th></th>
            <th></th>
            <th>{{respuesta.ingreso_otro|intcomma}}</th>
        </tr>
    </table style="width:100%;">
</div>
    <br>
<div class="subindicador">{% trans "INGRESO " %} &raquo; {% trans "Ingreso Bruto por familia" %}</div>
    <table>
        <tr colspan="2">
            <th>{% trans "INGRESO BRUTO" %}</th>

            <th>{{respuesta.bruto|intcomma}}</th>
        </tr>
    </table>
    <div class="subindicador">{% trans "INGRESO " %} &raquo; {% trans "Ingreso Neto por familia" %}</a></div>
    <table style="width:100%;">
        <tr colspan="2">
            <th>{% trans "INGRESO NETO" %}</th>

            <th>{{respuesta.total_neto|intcomma}}</th>
        </tr>
    </table>
    
<script type="text/javascript">
  $(function() {
    $("table#sortTableExample").tablesorter( {sortList: [[0,0], [1,0]]} );
  });
</script>
</div>
<div class="clean"></div>

{%endblock%}
