{% extends "basenueva.html"%}
{% load humanize %}
{% block barra %}
{% endblock %}
{%load unslugify %}
{% block extra_header %}
<script type="text/javascript">
    var activo = 0;
    $.ajaxSetup({ cache: false }); 
    function click_callback(id){
        $.getJSON('/grafo/ingreso/' + id, function(data) {
            if (activo!= id){
                $("#grafo").html('<img src="' + data.url + '" />');
                activo = id;
            }else{
                $("#grafo").html('');
                activo = 0;
            }
        });
    }
</script>
<script type="text/javascript">
$(document).ready(function () {
    $('.grafo').click(function(){
        $('.grafo').each(function(){
            $(this).removeClass('grafohover');
        });
        $(this).addClass('grafohover');
    });
});

function Grafo8(){
       var chart = new Highcharts.Chart({
            chart: {
                renderTo: 'grafo',
                defaultSeriesType: 'column'
            },
            title: {
                text: 'Ingreso por sistema de produccion'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                    'Opciones'   
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Cantidad'
                }
            },
            
            tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': '+ this.y +'';
                }
            },
            plotOptions: {
                column: {
                    groupPadding: 0,
                    pointPadding: 0.9,
                    borderWidth: 0
                },
                series: {
                    pointWidth: 33,
                    minPointLength : 1
                }
            },
            series: [{%for a in grafo%}
            {%for k,v in a.items%}
                {   
                    name: '{{k|unslugify}}',
                    data: [{{v}}],
                    dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#632D00',
                        align: 'center',
                        x: -3,
                        y: 0,
                            formatter: function() {
                                return this.y + '';
                                                  },
                        style: {
                            font: 'normal 10px Verdana, sans-serif'
                                }
                                }
                     
                },
           {%endfor%}
                {%endfor%}]
        });
    }
    

function Grafo9(){
     var  chart = new Highcharts.Chart({
            chart: {
                renderTo: 'grafo',
                defaultSeriesType: 'column'
            },
            title: {
                text: 'Número de rubros en cada sistema de produccion'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                    'Opciones'   
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Cantidad'
                }
            },
            
            tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': '+ this.y +'';
                }
            },
            plotOptions: {
                column: {
                    groupPadding: 0,
                    pointPadding: 0.9,
                    borderWidth: 0
                },
                series: {
                    pointWidth: 33,
                    minPointLength : 1
                }
            },
            series: [{%for a in cuantos%}
            {%for k,v in a.items%}
                {   
                    name: '{{k|unslugify}}',
                    data: [{{v}}],
                    dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#632D00',
                        align: 'center',
                        x: -3,
                        y: 0,
                            formatter: function() {
                                return this.y + '';
                                                  },
                        style: {
                            font: 'normal 10px Verdana, sans-serif'
                                }
                                }
                     
                },
           {%endfor%}
                {%endfor%}]
        });
    }
    
</script>
{% endblock %}
{%block content%}
{% include "filtros.html" %}
    <div class="sidebar" style="width:500px; padding-bottom:13px;" >
        <div class="subindicador">Gráficos ingresos</div>
            
            <a href="#" id="grafico1" onCLick="click_callback('vendio')"class="grafo">A quién venden?</a>
            <a href="#" id="grafico2" onCLick="click_callback('maneja')"class="grafo">Quién maneja el negocio?</a>
            <a href="#" id="grafico3" onCLick="click_callback('ingreso')"class="grafo">Quién tiene los ingresos?</a>
            <a href="#" id="grafico8" onclick="Grafo8();" class="grafo">Ingreso por sistema</a>
            <a href="#" id="grafico9" onCLick="Grafo9();" class="grafo">Número de rubro en cada sistema</a>
            
        <div class="subindicador">Gráficos Otros ingresos</div>
            
            <a href="#" id="grafico4" onCLick="click_callback('salario')"class="grafo">Tipos de Salarios</a>
            <a href="#" id="grafico5" onCLick="click_callback('negocio')"class="grafo">Tipos de Negocio</a>
            <a href="#" id="grafico6" onCLick="click_callback('remesa')"class="grafo">Tipos Remesas</a>
            <a href="#" id="grafico7" onCLick="click_callback('alquiler')"class="grafo">Tipo alquiler</a>

       <div id="grafo"  style="width:500px; overflow-y:auto"></div>
    </div>
 <div class="contenido" style="width:460px">
<div class="subindicador">INGRESO  &raquo; Los Ingresos familiares <a class="exportar guardarXLS" href="#" onclick="exportarXLS('modalidad'); return false;"></a></div>

<div id="modalidad">
    <table style="width:100%">
        <caption>Agroforestales</caption>
        <thead>
            <tr>
                <th style="font-size:9px;">RUBROS</th>
                <th style="font-size:9px;">Número de familias que venden</th>
                <th style="font-size:9px;">Unidad</th>
                <th style="font-size:9px;">Cantidad vendida por familia</th>
                <th style="font-size:9px;">Precio promedio</th>
                <th style="font-size:9px;">Ingreso por venta</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in agro.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.numero|floatformat}}</td>
                <td>{{value.key2|unslugify}}</td>
                <td>{{value.cantidad|floatformat}}</td>
                <td>{{value.precio|floatformat}}</td>
                <td>{{value.ingreso|floatformat}}</td>

                {%endfor%}
        </tbody>
        <tr>
            <th>TOTAL VENTA RUBROS</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>{{total_agro|intcomma}}</th>
        </tr>

    </table>
    <br></br>
    <table style="width:100%">
        <caption>Forestales</caption>
        <thead>
            <tr>
                <th style="font-size:9px;">RUBROS</th>
                <th style="font-size:9px;">Número de familias que venden</th>
                <th style="font-size:9px;">Unidad</th>
                <th style="font-size:9px;">Cantidad vendida por familia</th>
                <th style="font-size:9px;">Precio promedio</th>
                <th style="font-size:9px;">Ingreso por venta</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in forestal.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.numero|floatformat}}</td>
                <td>{{value.key2|unslugify}}</td>
                <td>{{value.cantidad|floatformat}}</td>
                <td>{{value.precio|floatformat}}</td>
                <td>{{value.ingreso|floatformat}}</td>

                {%endfor%}
        </tbody>
        <tr>
            <th>TOTAL VENTA RUBROS</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>{{total_forestal|intcomma}}</th>
        </tr>

    </table>
    <br></br>
    <table style="width:100%">
        <caption>Granos básicos</caption>
        <thead>
            <tr>
                <th style="font-size:9px;">RUBROS</th>
                <th style="font-size:9px;">Número de familias que venden</th>
                <th style="font-size:9px;">Unidad</th>
                <th style="font-size:9px;">Cantidad vendida por familia</th>
                <th style="font-size:9px;">Precio promedio</th>
                <th style="font-size:9px;">Ingreso por venta</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in grano_basico.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.numero|floatformat}}</td>
                <td>{{value.key2|unslugify}}</td>
                <td>{{value.cantidad|floatformat}}</td>
                <td>{{value.precio|floatformat}}</td>
                <td>{{value.ingreso|floatformat}}</td>

                {%endfor%}
        </tbody>
        <tr>
            <th>TOTAL VENTA RUBROS</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>{{total_basico|intcomma}}</th>
        </tr>

    </table>
    <br></br>
    <table style="width:100%">
        <caption>Ganado mayor</caption>
        <thead>
            <tr>
                <th style="font-size:9px;">RUBROS</th>
                <th style="font-size:9px;">Número de familias que venden</th>
                <th style="font-size:9px;">Unidad</th>
                <th style="font-size:9px;">Cantidad vendida por familia</th>
                <th style="font-size:9px;">Precio promedio</th>
                <th style="font-size:9px;">Ingreso por venta</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in ganado_mayor.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.numero|floatformat}}</td>
                <td>{{value.key2|unslugify}}</td>
                <td>{{value.cantidad|floatformat}}</td>
                <td>{{value.precio|floatformat}}</td>
                <td>{{value.ingreso|floatformat}}</td>

                {%endfor%}
        </tbody>
        <tr>
            <th>TOTAL VENTA RUBROS</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>{{total_ganado|intcomma}}</th>
        </tr>

    </table>
    <br></br>
    <table style="width:100%">
        <caption>Animales de patio</caption>
        <thead>
            <tr>
                <th style="font-size:9px;">RUBROS</th>
                <th style="font-size:9px;">Número de familias que venden</th>
                <th style="font-size:9px;">Unidad</th>
                <th style="font-size:9px;">Cantidad vendida por familia</th>
                <th style="font-size:9px;">Precio promedio</th>
                <th style="font-size:9px;">Ingreso por venta</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in patio.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.numero|floatformat}}</td>
                <td>{{value.key2|unslugify}}</td>
                <td>{{value.cantidad|floatformat}}</td>
                <td>{{value.precio|floatformat}}</td>
                <td>{{value.ingreso|floatformat}}</td>

                {%endfor%}
        </tbody>
        <tr>
            <th>TOTAL VENTA RUBROS</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>{{total_patio|intcomma}}</th>
        </tr>

    </table>
    <br></br>
    <table style="width:100%">
        <caption>Hortalizas y frutas</caption>
        <thead>
            <tr>
                <th style="font-size:9px;">RUBROS</th>
                <th style="font-size:9px;">Número de familias que venden</th>
                <th style="font-size:9px;">Unidad</th>
                <th style="font-size:9px;">Cantidad vendida por familia</th>
                <th style="font-size:9px;">Precio promedio</th>
                <th style="font-size:9px;">Ingreso por venta</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in frutas.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.numero|floatformat}}</td>
                <td>{{value.key2|unslugify}}</td>
                <td>{{value.cantidad|floatformat}}</td>
                <td>{{value.precio|floatformat}}</td>
                <td>{{value.ingreso|floatformat}}</td>

                {%endfor%}
        </tbody>
        <tr>
            <th>TOTAL VENTA RUBROS</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>{{total_fruta|intcomma}}</th>
        </tr>

    </table>
    <br></br>
    <table style="width:100%">
        <caption>Musaceas</caption>
        <thead>
            <tr>
                <th style="font-size:9px;">RUBROS</th>
                <th style="font-size:9px;">Número de familias que venden</th>
                <th style="font-size:9px;">Unidad</th>
                <th style="font-size:9px;">Cantidad vendida por familia</th>
                <th style="font-size:9px;">Precio promedio</th>
                <th style="font-size:9px;">Ingreso por venta</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in musaceas.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.numero|floatformat}}</td>
                <td>{{value.key2|unslugify}}</td>
                <td>{{value.cantidad|floatformat}}</td>
                <td>{{value.precio|floatformat}}</td>
                <td>{{value.ingreso|floatformat}}</td>

                {%endfor%}
        </tbody>
        <tr>
            <th>TOTAL VENTA RUBROS</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>{{total_musaceas|intcomma}}</th>
        </tr>

    </table>
    <br></br>
    <table style="width:100%">
        <caption>Raíces y tubérculos</caption>
        <thead>
            <tr>
                <th style="font-size:9px;">RUBROS</th>
                <th style="font-size:9px;">Número de familias que venden</th>
                <th style="font-size:9px;">Unidad</th>
                <th style="font-size:9px;">Cantidad vendida por familia</th>
                <th style="font-size:9px;">Precio promedio</th>
                <th style="font-size:9px;">Ingreso por venta</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in raices.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.numero|floatformat}}</td>
                <td>{{value.key2|unslugify}}</td>
                <td>{{value.cantidad|floatformat}}</td>
                <td>{{value.precio|floatformat}}</td>
                <td>{{value.ingreso|floatformat}}</td>

                {%endfor%}
        </tbody>
        <tr>
            <th>TOTAL VENTA RUBROS</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>{{total_raices|intcomma}}</th>
        </tr>

    </table>
    <br></br>
    <table>
        <th>Ingreso agropecuario: {{respuesta.ingreso|intcomma}}</th>
    </table>
</div>
    <br><div class="subindicador">INGRESO  &raquo; Los Otros Ingresos familiares <a href="#" class="exportar"></a></div><br>
    <table style="width:100%;">
        <caption></caption>
        <thead>
            <tr>
                <th>FUENTES</th>
                <th>NÚMERO DE FAMILIAS</th>
                <th>TOTAL MESES</th>
                <th>INGRESO MENSUAL PROMEDIO</th>
                <th>INGRESO TOTAL PROMEDIO</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in matriz.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.frecuencia|floatformat}}</td>
                <td>{{value.meses|floatformat}}</td>
                <td>{{value.ingreso|floatformat}}</td>
                <td>{{value.ingresototal|floatformat}}</td>
            </tr>
            {%endfor%}
        </tbody>
        <tr>
            <th>TOTAL OTROS INGRESO</th>
            <th></th>
            <th></th>
            <th></th>
            <th>{{respuesta.ingreso_otro|intcomma}}</th>
        </tr>
    </table style="width:100%;">
    <br>
<div class="subindicador">INGRESO  &raquo; Ingreso Bruto por familia</div>
    <table>
        <tr colspan="2">
            <th>INGRESO BRUTO</th>

            <th>{{respuesta.bruto|intcomma}}</th>
        </tr>
    </table>
    <div class="subindicador">INGRESO  &raquo; Ingreso Neto por familia</</a></div>
    <table style="width:100%;">
        <tr colspan="2">
            <th>INGRESO NETO</th>

            <th>{{respuesta.total_neto|intcomma}}</th>
        </tr>
    </table>
</div>
<div class="clean"></div>

{%endblock%}
