{% extends "basenueva.html" %}
{% load i18n %}
{%block extra_header%}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/markerclusterer.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.nivo.slider.pack.js"></script>
<link href="{{STATIC_URL}}css/nivo-slider.css" rel="stylesheet" type="text/css" media="all" title=""/>
<link href="{{STATIC_URL}}css/themes/orman/orman.css" rel="stylesheet" type="text/css" media="all" title=""/>

<script type="text/javascript">
    var map;    
    $(document).ready(function () {     
        var infowindow = new google.maps.InfoWindow();
//         13.625731451874081
        var myLatlng = new google.maps.LatLng(13.625,-84.343);
        var myOptions = {
            zoom: 9,
            mapTypeControl: true,
            center: myLatlng,
            mapTypeId: google.maps.MapTypeId.TERRAIN
        }
        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
        $.getJSON('/mapa/', function(data) {
            $.each(data[0], function(name, item) {
                var latlng = new google.maps.LatLng(item.lat, item.lon);
                var marker = new google.maps.Marker({
                    position : latlng,
                    map : map,
                    title : name,
                    icon : 'http://chart.apis.google.com/chart?chst=d_bubble_text_small&chld=bbT|'+(item.hombres+item.mujeres)+'|FABF15|000000',
                    item : ''                   
                });
                google.maps.event.addListener(marker, 'click', function() {
                    infowindow.open(map, marker);
                    var text = '<div class="infowindow"><b>'+name+'</b><br><div class="info">';
                    text += '<span>{% trans "Hombres:" %} </span>'+item.hombres+' <span>{% trans "Mujeres:" %}</span> '+item.mujeres;                
                    text += '<br><span>{% trans "Total:" %}</span> '+(item.hombres+item.mujeres)+'</div></div>';
                    infowindow.setContent(text);
                });
            });
        });
    });
</script>
<script type="text/javascript">
$(window).load(function() {
    $('#slider').nivoSlider({
        effect: 'fade', // Specify sets like: 'fold,fade,sliceDown'
        slices: 15, // For slice animations
        boxCols: 8, // For box animations
        boxRows: 4, // For box animations
        animSpeed: 500, // Slide transition speed
        pauseTime: 5000, // How long each slide will show
        startSlide: 0, // Set starting Slide (0 index)
        directionNav: true, // Next & Prev navigation
        directionNavHide: true, // Only show on hover
        controlNav: true, // 1,2,3... navigation
        controlNavThumbs: false, // Use thumbnails for Control Nav
        controlNavThumbsFromRel: false, // Use image rel for thumbs
        controlNavThumbsSearch: '.jpg', // Replace this with...
        controlNavThumbsReplace: '_thumb.jpg', // ...this in thumb Image src
        keyboardNav: true, // Use left & right arrows
        pauseOnHover: true, // Stop animation while hovering
        manualAdvance: false, // Force manual transitions
        captionOpacity: 0.8, // Universal caption opacity
        prevText: 'Prev', // Prev directionNav text
        nextText: 'Next', // Next directionNav text
        beforeChange: function(){}, // Triggers before a slide transition
        afterChange: function(){}, // Triggers after a slide transition
        slideshowEnd: function(){}, // Triggers after all slides have been shown
        lastSlide: function(){}, // Triggers when last slide is shown
        afterLoad: function(){} // Triggers when slider has loaded
    });
});
</script>

<style type="text/css">
    #mapa { height: 450px; width: 580px; }
    .infowindow{font-size: 13px; color: #069;}  
    .infowindow span{color: #4E4E4E;}
    .infowindow .info{font-size: 13px; margin-top: 6px;}    
</style>
{%endblock%}



{%block content%}
        <div id="indexleft">
            <div class="slider-wrapper theme-orman">
               <div id="slider" class="nivoSlider" >
                   <img src="/files/img/slider1.jpg" alt=""  />
                   <img src="/files/img/slider2.jpg" alt=""  />
                   <img src="/files/img/slider3.jpg" alt=""  />
                   <img src="/files/img/slider4.jpg" alt=""  />
                </div>
            </div>
                    <div id ="numencuestados"><b>{{familias}} </b>{% trans "Familias encuestadas en la actualidad" %} </div>
                    <div id="tituloacerca">{% trans "ACERCA DEL SISTEMA DE MONITOREO" %}</div>
                    <div class="column">

                        <p>{%blocktrans%}El proyecto Alternativa de manejo sostenible en sistemas agroforestales para indígenas, campesinos y afro descendientes de la RAAN, Nicaragua, denominado COCOA RAAN, tiene como objetivo contribuir en la erradicación de la pobreza en comunidades indígenas, campesinas y afro descendientes y en el desarrollo integral de la producción cacaotera y mercadeo en la RAAN, a través del fomento del uso sostenible de los recursos naturales, el bienestar rural y establecimiento de acuerdos comerciales sostenibles.{%endblocktrans%} </p>

                        <p>{%blocktrans%}La Asociación Coordinadora Indígena y Campesina de Agroforestería Comunitaria Centroamericana (ACICAFOC) es la ejecutora de este proyecto cuyos componentes i) Desarrollo integrado de sistemas agroforestales en 1000 fincas de cacao para elevar los niveles de producción en Nicaragua, ii) Estrategia de comercialización directa y los vínculos con el mercado de cacao para los agricultores que operan en una empresa social y media ambientalmente sostenible, iii) ha consolidado la Red Centroamericana de Productores de Cacao en respuesta a las demandas expresadas por los productores de participar activamente en iniciativas de comercialización y iv) Monitoreo y Evaluación participativa en las acciones implementadas.{%endblocktrans%}</p>

                    </div>
                    <div class="column">

                        <p>{%blocktrans%}Con estos componentes, se pretende dar una respuesta a las necesidades de los productores de cacao, para desarrollar capacidades técnicas en el manejo del cacao en sistemas agroforestales y vincularlos con mecanismos innovadores que les permita participar activamente en el desarrollo de nichos de mercado.{%endblocktrans%}</p>

                        <p>{%blocktrans%}La ejecución del proyecto inicio en el 2010 y se ha dinamizado a partir del 2011, obteniéndose resultados visibles de las acciones dentro de las cuales se pueden destacar el aporte hacia el desarrollo de capacidades técnicas en la zona tanto a nivel de técnicos como a nivel de líderes y productores en el manejo de sistemas agroforestales de cacao, beneficiado y formulación de propuestas de subproyectos. Para ello la capacitación de facilitadores locales de Escuelas de campo en Cacao y talleres dirigidos en la formulación de propuestas de subproyectos y elaboración de presupuesto ha sido un proceso que ha generado capacidades locales que dinamizan el desarrollo de las acciones alrededor del cacao en la RAAN.{%endblocktrans%}</p>
                    </div>
                    <div class="clean"></div>
                    <div id="titulomapa">{% trans "Mapa Geografico de encuestados" %}</div>
                    <div class="consulta_mapa">
                        <form  action="." method="POST">{% csrf_token %}
                            {{form1.fecha1}}
                            <input type="submit" name="yearactual" value="Refresh">
                        </form>
                    </div>
                    <div id="mapaindex">
                        <div id="map_canvas"></div>
                    </div>
        </div>
        <div id="indexright">
            <br>
            <div class="menuindex">
                <a class="menutitulo"href="/proyecto">{% trans "Información del proyecto" %}</a>
                <a href="/proyecto"><img src="{{STATIC_URL}}img/menuproyecto.png" class="left"></a>
                <p>{% trans "Conoce los objetivos, la finalidad, el area de influencia y los beneficiarios del proyecto" %}</p>
                <a class="flecha" href="/proyecto"></a>
                <div class="clean"></div>
            </div>
            <div class="menuindex">
                <a class="menutitulo"href="/general">{% trans "Estadistícas Generales" %}</a>
                <a href="/general"><img src="{{STATIC_URL}}img/generales.png" class="left"></a>
                <p>{% trans "Datos generales de la encuesta visibilizados geográficamente en las zonas de cobertura" %}</p>
                <a class="flecha" href="/general"></a>
                <div class="clean"></div>
            </div>
            <div class="menuindex">
                <a class="menutitulo"href="/index">{% trans "Consulta de indicadores" %}</a>
                <a href="/index"><img src="{{STATIC_URL}}img/filtros.png" class="left"></a>
                <p>{% trans "A través de los filtros/indicadores podemos acceder a la información y los gráficos de acuerdo a nuestras necesidades." %} </p>
                <a class="flecha" href="/index"></a>
                <div class="clean"></div>
            </div>
            <div class="menuindex">
                <a class="menutitulo"href="{{STATIC_URL}}manualAcicafocUsuario.pdf">{% trans "Aprende a usar el sistema" %}</a>
                <a href="{{STATIC_URL}}manualAcicafocUsuario.pdf"><img src="{{STATIC_URL}}img/aprende.png" class="left"></a>
                <p>{% trans "Muestra la ayuda del sistema, cómo manipular la información disponible." %}</p>
                <a class="flecha" href="{{STATIC_URL}}manualAcicafocUsuario.pdf"></a>
                <div class="clean"></div>
            </div>
            <div class="menuindex">
                <a class="menutitulo"href="/admin">{% trans "Administrar el sistema" %}
</a>
                <a href="/admin"><img src="{{STATIC_URL}}img/administrar.png" class="left"></a>
                <p>{% trans "Acceso a la administración válido únicamente para usuarios registrados." %}</p>
                <a class="flecha" href="/admin"></a>
                <div class="clean"></div>
            </div>
            <div class="menuindex">
                <a class="menutitulo"href="/noticias">{% trans "Avances del proyecto" %}
</a>
                <a href="/noticias"><img style="margin-right:10px;margin-left:10px;"src="{{STATIC_URL}}img/news.png" class="left"></a>
                <p>{% trans "Conoce la actualidad de las actividades realizadas por el proyecto." %}</p>
                <a class="flecha" href="/noticias"></a>
                <div class="clean"></div>
            </div>
        </div>
        <div class="clean"></div>
{%endblock%}