{% extends "basenueva.html" %}
{%block extra_header%}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/markerclusterer.js"></script>
<script type="text/javascript">
    var map;    
    $(document).ready(function () {     
        var infowindow = new google.maps.InfoWindow();
//         13.625731451874081
        var myLatlng = new google.maps.LatLng(13.625,-84.343);
        var myOptions = {
            zoom: 9,
            mapTypeControl: true,
            center: myLatlng,
            mapTypeId: google.maps.MapTypeId.TERRAIN
        }
        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
		$.getJSON('/mapa/', function(data) {
			$.each(data[0], function(name, item) {
				var latlng = new google.maps.LatLng(item.lat, item.lon);
				var marker = new google.maps.Marker({
					position : latlng,
					map : map,
					title : name,
 					icon : 'http://chart.apis.google.com/chart?chst=d_bubble_text_small&chld=bbT|'+(item.hombres+item.mujeres)+'|FABF15|000000',
					item : ''					
				});
				google.maps.event.addListener(marker, 'click', function() {
	                infowindow.open(map, marker);
	                var text = '<div class="infowindow"><b>'+name+'</b><br><div class="info">';
	                text += '<span>Hombres: </span>'+item.hombres+' <span>Mujeres:</span> '+item.mujeres;                
	                text += '<br><span>Total:</span> '+(item.hombres+item.mujeres)+'</div></div>';
	                infowindow.setContent(text);
	            });
			});
		});
	});
</script>
<style type="text/css">
	#mapa { height: 450px; width: 600px; }
	.infowindow{font-size: 13px; color: #069;}	
	.infowindow span{color: #4E4E4E;}
	.infowindow .info{font-size: 13px; margin-top: 6px;}	
</style>
{%endblock%}
{%block content%}
        <div id="indexleft">
            <div id ="numencuestados"><b>{{familias}}</b> Familias encuestadas en la actualidad</div>
            <div id="tituloacerca">ACERCA DEL SISTEMA DE MONITOREO</div>
            <div class="column">
                <img src="{{STATIC_URL}}img/foto.jpg">
                <br><br>
                En la región Centroamericana, como en otras zonas en subdesarrollo, el manejo forestal comunitario es una de las alternativas más viables para resolver el gran dilema de la conciliación entre la preservación de la naturaleza y el desarrollo económico.
            </div>
            <div class="column">
                El manejo forestal comunitario busca el uso razonable o planificado de de los bosques en las localidades de grupos indígenas y campesinos. La importancia de adecuadas prácticas de manejo forestal permite el bienestar socioeconómico, logrando un equilibrio entre las alternativas comerciales que ofrecen los bosques y la conservación de los patrimonios naturales y culturales de la humanidad.
                <br><br>Ahora bien, es en este momento que se hace necesario hacer un monitoreo de impacto en la zona del proyecto, para verificar y evaluar el grado de cumplimiento de los objetivos y resultados. Pero sobre todo, saber si realmente la influencia del proyecto es positiva ya asertiva en su punto de intervención
            </div>
            <div class="clean"></div>
            <div id="titulomapa">Mapa Geografico de encuestados</div>
            <div id="mapaindex">
                <div id="map_canvas"></div>
            </div>
        </div>
        <div id="indexright">
            <br>
            <div class="menuindex">
                <a class="menutitulo"href="/proyecto">Información del proyecto</a>
                <a href="/proyecto"><img src="{{STATIC_URL}}img/menuproyecto.png" class="left"></a>
                <p>Conoce los objetivos, la finalidad, el area de influencia y los beneficiarios del proyecto</p>
                <a class="flecha" href="/proyecto"></a>
                <div class="clean"></div>
            </div>
            <div class="menuindex">
                <a class="menutitulo"href="/general">Estadistícas Generales</a>
                <a href="/general"><img src="{{STATIC_URL}}img/generales.png" class="left"></a>
                <p>Datos generales de la encuesta visibilizados geográficamente en las zonas de cobertura</p>
                <a class="flecha" href="/general"></a>
                <div class="clean"></div>
            </div>
            <div class="menuindex">
                <a class="menutitulo"href="/index">Consulta de indicadores</a>
                <a href="/index"><img src="{{STATIC_URL}}img/filtros.png" class="left"></a>
                <p>A través de los filtros/indicadores podemos acceder a la información y los gráficos de acuerdo a nuestras necesidades. </p>
                <a class="flecha" href="/index"></a>
                <div class="clean"></div>
            </div>
            <div class="menuindex">
                <a class="menutitulo"href="{{STATIC_URL}}manualAcicafocUsuario.pdf">Aprende a usar el sistema</a>
                <a href="{{STATIC_URL}}manualAcicafocUsuario.pdf"><img src="{{STATIC_URL}}img/aprende.png" class="left"></a>
                <p>Muestra la ayuda del sistema, cómo manipular la información disponible.</p>
                <a class="flecha" href="{{STATIC_URL}}manualAcicafocUsuario.pdf"></a>
                <div class="clean"></div>
            </div>
            <div class="menuindex">
                <a class="menutitulo"href="/admin">Administrar el sistema</a>
                <a href="/admin"><img src="{{STATIC_URL}}img/administrar.png" class="left"></a>
                <p>Acceso a la administración válido únicamente para usuarios registrados.</p>
                <a class="flecha" href="/admin"></a>
                <div class="clean"></div>
            </div>
        </div>
        <div class="clean"></div>
{%endblock%}
