{% extends "basenueva.html" %}
{%block extra_header%}
{%endblock%}
{%block content%}
        <div id="indexleft">
            <div id ="numencuestados"><b>260</b> Familias encuestadas en la actualidad</div>
            <div id="tituloacerca">ACERCA DEL SISTEMA DE MONITOREO</div>
            <div class="column">
                <img src="{{STATIC_URL}}img/foto.jpg">
                <br>
                Velit arcu diam aenean, in. Ac tincidunt mid, dis arcu dis pulvinar turpis magnis? Ut, scelerisque eros platea phasellus arcu parturient, amet, nec mid elit dictumst si  scelerisque eros platea phasellus arcu parturient, amet, nec mid elit dictumst si  scelerisque eros platea phasellus arcu parturient, amet, nec mid elit dictumst si
            </div>
            <div class="column">
                Velit arcu diam aenean, in. Ac tincidunt mid, dis arcu dis pulvinar turpis magnis? Ut, scelerisque eros platea phasellus arcu parturient, amet, nec mid elit dictumst sit. Nec sit porttitor, magna in adipiscing et porttitor ridiculus? Enim augue, egestas nisi, cum rhoncus! Odio odio odio ut mauris quis, lundium, dignissim? Aliquam! Diam duis! Placerat, magnis pulvinar, nisi natoque adipiscing nunc? Augue lacus nisi urna dictumst velit, augue facilisis nunc vel dignissim auctor, ridiculus platea massa, elit dignissim augue?
                <br><br>Velit arcu diam aenean, in. Ac tincidunt mid, dis arcu dis pulvinar turpis magnis? Ut, scelerisque eros platea phasellus arcu parturient, amet, nec mid elit dictumst sit. Nec sit porttitor, magna in adipiscing et porttitor ridiculus? Enim aug
            </div>
            <div class="clean"></div>
            <div id="titulomapa">Mapa Geografico de encuestados</div>
            <div id="mapaindex">
                <img src="{{STATIC_URL}}img/mapa.jpg">
            </div>
        </div>
        <div id="indexright">
            <br>
            <div class="menuindex">
                <a class="menutitulo"href="">Estadistícas Generales</a>
                <a href=""><img src="{{STATIC_URL}}img/generales.png" class="left"></a>
                <p>Velit arcu diam aenean, in. Ac tincidunt mid, dis arcu dis pulvinar turpis magnis? Ut, scelerisque eros platea phasellus arcu parturient, amet, nec mid elit </p>
                <a class="flecha" href=""></a>
                <div class="clean"></div>
            </div>
            <div class="menuindex">
                <a class="menutitulo"href="/index">Consulta de indicadores</a>
                <a href="/index"><img src="{{STATIC_URL}}img/filtros.png" class="left"></a>
                <p>Velit arcu diam aenean, in. Ac tincidunt mid, dis arcu dis pulvinar turpis magnis? Ut, scelerisque eros platea phasellus arcu parturient, amet, nec mid elit </p>
                <a class="flecha" href="/index"></a>
                <div class="clean"></div>
            </div>
            <div class="menuindex">
                <a class="menutitulo"href="">Aprende a usar el sistema</a>
                <a href=""><img src="{{STATIC_URL}}img/aprende.png" class="left"></a>
                <p>Velit arcu diam aenean, in. Ac tincidunt mid, dis arcu dis pulvinar turpis magnis? Ut, scelerisque eros platea phasellus arcu parturient, amet, nec mid elit </p>
                <a class="flecha" href=""></a>
                <div class="clean"></div>
            </div>
            <div class="menuindex">
                <a class="menutitulo"href="/admin">Administrar el sistema</a>
                <a href="/admin"><img src="{{STATIC_URL}}img/administrar.png" class="left"></a>
                <p>Velit arcu diam aenean, in. Ac tincidunt mid, dis arcu dis pulvinar turpis magnis? Ut, scelerisque eros platea phasellus arcu parturient, amet, nec mid elit </p>
                <a class="flecha" href=""></a>
                <div class="clean"></div>
            </div>
        </div>
        <div class="clean"></div>
{%endblock%}
