{% extends "basenueva.html"%}
{% load pagination_tags %}
{% load i18n %}
{% block extra_header %}

{% endblock %}

{% block content %}
	<div class="contenido-noticia">

		<div class="sidebar-noticia">
			<div class="filtrarpor"><i>{% trans "Filtrar avances por" %}</i> </div>
			<div class="filtronoticia">
				<ul>
				{%for cat in categorias%}
					<li><a href="/noticias/categoria/{{cat.slug}}">{{cat.nombre}}</a></li>
				{%endfor%}
				</ul>
			</div>
		</div>
		<div class="der-noticia">
			{%if categoria%}
			<div class="filtrarpor"><i>{% trans "Avances de proyecto realcionados a" %} <b>{{categoria.nombre}}</b></i> </div>
			{%else%}
			<div class="filtrarpor"><i>{% trans "Avances de proyecto" %}</i> </div>
			{%endif%}
			
		{% autopaginate noticias 6%}
		    {%for noticia in noticias%}
		    <div class="elemento-lista">
		        <div class="fecha">{{noticia.fecha|date:"d M"}}</div>
		        <div class="titulo"><a href="/noticias/{{noticia.slug}}">{{noticia.titulo}}</a></div>
		        <div class="descripcion">{{noticia.contenido|truncatewords:80|safe}}</div>
		        <div class="separador"></div>
		    </div>
		    {%endfor%}
		{%paginate%}
		</div>
		<div class="clean"></div>
	</div>

{% endblock %}
