{% extends "basenueva.html"%}
{% load pagination_tags %}
{% load i18n %}
{% block extra_header %}
 <link href="{{STATIC_URL}}js/jquery.fancybox-1.3.4.css" rel="stylesheet" type="text/css" media="all" title=""/>
 <script type="text/javascript" src="{{STATIC_URL}}js/jquery.fancybox-1.3.4.pack.js"></script>
		<script type="text/javascript">
		$(document).ready(function() {

			
			$("a.gal").fancybox();
			
			$("a#inline").fancybox({
				'hideOnContentClick': true
			});
			
			$("a.group").fancybox({
				'transitionIn'	:	'elastic',
				'transitionOut'	:	'elastic',
				'speedIn'		:	600, 
				'speedOut'		:	200, 
				'overlayShow'	:	false
			});
			
		});
		</script>
{% endblock %}

{% block content %}
	<div class="contenido-noticia">

		<div class="sidebar-noticia">
			<div class="filtrarpor"><i>{% trans "Filtrar avances por:" %}</i> </div>
			<div class="filtronoticia">
				<ul>
				{%for cat in categorias%}
					<li><a href="/noticias/categoria/{{cat.slug}}">{{cat.nombre}}</a></li>
				{%endfor%}
				</ul>
			</div>

		</div>
		<div class="der-noticia">
		    <div class="elemento-lista">
		        <div class="fecha">{{noticia.fecha|date:"d M"}}</div>
		        <div class="titulo"><a href="/noticias/{{noticia.slug}}">{{noticia.titulo}}</a></div>
		        <div class="descripcion">{{noticia.contenido|safe}}</div>
		        
		        <div class="separador"></div>
		    </div>	
		    <div class="galeria">
		    		{%for imagen in imagen%}
		    		<a class="gal" href="{{imagen.imagen.url_640x500}}"><img class="izq"  src="{{imagen.imagen.url_218x164}}"  alt="thumb"/></a>
					{%endfor%}
					<div class="clean"></div>
			</div>
			{%if documento%}
		    <div class="documentos">
		    	<table class="table-bordered">
		    		<thead>
		    			<tr>
		    				<th>{% trans "Documento" %}</th>
		    				<th>{% trans "Enlace" %}</th>
		    			</tr>
		    		</thead>
		    		<tbody>
		    		{%for doc in documento%}
		    		<tr>
		    			<td>{{doc.nombre}}</td>
		    			<td><a href="/uploads/{{doc.adjunto}}">{% trans "[ Descargar ]" %} </a></td>
		    		</tr>
					{%endfor%}
				</tbody>
				</table>
					<div class="clean"></div>
			</div>
			{%endif%}
		</div>

		<div class="clean"></div>
	</div>

{% endblock %}
