<div id="indicadores">
    <div id="contenedor_indicadores" class="familiagroup">
        <a href="/familia">Familias</a>
        <a href="/organizacion">Organización</a>
        <a href="/riesgo">Riesgos</a>
        <a href="/seguridad">Seguridad alimentaria</a>
        <div class="clean"></div>
    </div>
    <div id="contenedor_indicadores" class="ingresogroup">
        <a href="/ingresos">Ingresos</a>
        <a href="/equipos">Bienes</a>
        <div class="clean"></div>
    </div>
    <div id="contenedor_indicadores" class="suelogroup">
        <a href="/tierra">Tierra</a>
        <a href="/animales">Ánimales</a>
        <a href="/cultivos">Cultivos</a>
        <a href="/opcionesmanejo">Opciones de manejo</a>
        <a href="/suelo">Suelo</a>
        <div class="clean"></div>
    </div>
    <div class="clean"></div>
</div>
