{% load i18n %}
<div id="indicadores">
    <div id="contenedor_indicadores" class="familiagroup">
        <a href="/educacion">{% trans "Familias" %}</a>
        <a href="/gremial">{% trans "Organización" %}</a>
        <a href="/vulnerable">{% trans "Riesgos" %}</a>
        <a href="/seguridad">{% trans "Seguridad alimentaria" %}</a>
        <a href="/genero">{% trans "Género" %}</a>
        <div class="clean"></div>
    </div>
    <div id="contenedor_indicadores" class="ingresogroup">
        <a href="/ingresos">{% trans "Ingresos" %}</a>
        <a href="/equipos">{% trans "Bienes" %}</a>
        <div class="clean"></div>
    </div>
    <div id="contenedor_indicadores" class="suelogroup" >
        <a href="/fincas">{% trans "Tierra" %}</a>
        <a href="/animales">{% trans "Animales" %}</a>
        <a href="/cultivos">{% trans "Cultivos" %}</a>
        <a href="/opcionesmanejo">{% trans "Opciones de manejo" %}</a>
        <a href="/suelos">{% trans "Suelo" %}</a>
        <div class="clean"></div>
    </div>
    <div id="contenedor_indicadores" class="comercializaciongroup" >
        <a href="/comercializacion">{% trans "Comercialización" %}</a>
        <a href="/vivero">{% trans "Estado Producción" %}</a>
        <a href="/tecnica">{% trans "Técnicas Agrícolas" %}</a>
        <a href="/niveles">{% trans "Niveles" %}</a>
        <div class="clean"></div>
    </div>
    <div class="clean"></div>
</div>
