{% extends "basenueva.html" %}
{% load i18n %}
{%load unslugify %}
{%block extra_header%}
    <script type="text/javascript">
    $(document).ready(function() {
        $(".luz").addClass("activa");
    });
    </script>
{%endblock%}
{% block barra %}
<div class="indicadores">
	{% include "nav_familia.html" %}
</div>
{% endblock %}

{% block content%}

{% include "filtros.html" %}

<div class="contenido fulltabla">
	<div class="subindicador">{% trans "FAMILIA" %} &raquo; {% trans "Energía Eléctrica" %}
    {%if LANGUAGE_CODE == 'es' %}
        <a href="#" class="btn btn-mini exportar guardarXLS" onclick="exportarXLS('modalidad'); return false;"><img src="{{STATIC_URL}}img/excel.png"> Exportar</a>
    {%endif%}
    {%if LANGUAGE_CODE == 'en' %}
        <a href="#" class="btn btn-mini exportar guardarXLS" onclick="exportarXLS('modalidad'); return false;"><img src="{{STATIC_URL}}img/excel.png"> Export</a>
    {%endif%}
    </div>
	
<div id="modalidad">
    <table style="width:100%;">
        <thead>
            <tr>
                <th>{% trans "Fuente" %}</th>
                <th>{% trans "Frecuencia" %}</th>
                <th>%</th>
            </tr>
        </thead>
        <tbody>
            {% for fila in tabla%}
            <tr>
                {%for celda in fila%}
                <td>{{celda}}</td>
                {%endfor%}
            </tr>
            {%endfor%}
            {% for f in tabla_cocina%}
            <tr>
                {%for celda in f%}
                <td>{{celda}}</td>
                {%endfor%}
            </tr>
            {%endfor%}
        <tbody>
    </table>
</div>
</div>
<div class="clean"></div>
{% endblock %}
