{% extends "basenueva.html" %}
{%load unslugify %}
{% load i18n %}
{% block extra_header %}
<script type="text/javascript">
    var activo = 0;
    function click_callback(id){
        $.getJSON('/grafo/bienes/' + id, function(data) {
            if (activo!= id){
                $("#grafo").html('<img src="' + data.url + '" />');
                activo = id;
            }else{
                $("#grafo").html('');
                activo = 0;
            }
        });
    }
</script>
<script type="text/javascript">
$(document).ready(function () {
    $('.grafo').click(function(){
        $('.grafo').each(function(){
            $(this).removeClass('grafohover');
        });
        $(this).addClass('grafohover');
    });
});
</script>
{% endblock %}
{% block content %}
{% include "filtros.html" %}
        <div class="sidebar">
            <div class="subindicador">{% trans "Gráficos de bienes" %}</a></div>
            <a id="grafico1" href="#" onCLick="click_callback('tipocasa')"class="grafo">{% trans "Tipo Casa" %}</a></a>
            <a id="grafico2" href="#" onCLick="click_callback('tipopiso')"class="grafo">{% trans "Tipo Piso" %}</a>
            <a id="grafico3" href="#" onCLick="click_callback('tipotecho')"class="grafo">{% trans "Tipo Techo" %}</a>
            <a id="grafico4" href="#" onCLick="click_callback('ambiente')"class="grafo">{% trans "Ambientes" %}</a>
            <a id="grafico5" href="#" onCLick="click_callback('letrina')"class="grafo">{% trans "Letrina" %}</a>
<!--            <a id="grafico6" href="#" onCLick="click_callback('lavadero')"class="grafo">Lavadero</a>-->
            <div id="grafo"></div>
        </div>

  <div class="contenido mediatabla">

    <div class="subindicador">{% trans "Los Equipos" %}
    {%if LANGUAGE_CODE == 'es' %}
        <a href="#" class="btn btn-mini exportar guardarXLS" onclick="exportarXLS('modalidad'); return false;"><img src="{{STATIC_URL}}img/excel.png"> Exportar</a>
    {%endif%}
    {%if LANGUAGE_CODE == 'en' %}
        <a href="#" class="btn btn-mini exportar guardarXLS" onclick="exportarXLS('modalidad'); return false;"><img src="{{STATIC_URL}}img/excel.png"> Export</a>
    {%endif%}
    </div>
    <div id="modalidad">
    <table style="width:100%;">
        <thead>
            <tr>
                <th>{% trans "Equipos" %}</th>
                <th>{% trans "Frecuencia" %}</th>
                <th>%</th>
                <th>{% trans "Cantidad" %}</th>
                <th>{% trans "Promedio por familia" %}</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in tabla.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.frecuencia|floatformat}}</td>
                <td>{{value.por_equipo|floatformat}}</td>
                <td>{{value.equipo|floatformat}}</td>
                <td>{{value.cantidad_pro|floatformat}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
<div class="subindicador">{% trans "Las Infraestructuras" %}</div>
    <table id="table_example" class="tablesorter" style="font-size:90%">

        <thead>
            <tr>
                <th>{% trans "INFRAESTRUCTURA" %}</th>
                <th>{% trans "FRECUENCIA" %}</th>
                <th>%</th>
                <th>{% trans "CANTIDAD" %}</th>
                <th>{% trans "Promedio por familia" %}</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in tabla_infra.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.frecuencia|floatformat}}</td>
                <td>{{value.por_frecuencia|floatformat}}</td>
                <td>{{value.infraestructura|floatformat}}</td>
                <td>{{value.infraestructura_pro|floatformat}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
<div class="subindicador">{% trans "Las Herramientas" %}</div>
    <table id="table_example" class="tablesorter" style="font-size:90%">
        <thead>
            <tr>
                <th>{% trans "HERRAMIENTAS" %}</th>
                <th>{% trans "FRECUENCIA" %}</th>
                <th>%</th>
                <th>{% trans "CANTIDAD" %}</th>
                <th>{% trans "Promedio por familia" %}</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in herramienta.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.frecuencia|floatformat}}</td>
                <td>{{value.por_frecuencia|floatformat}}</td>
                <td>{{value.herra|floatformat}}</td>
                <td>{{value.por_herra|floatformat}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
<div class="subindicador">{% trans "Los Transportes" %}</div>
    <table id="table_example" class="tablesorter" style="font-size:90%">
        <thead>
            <tr>
                <th>{% trans "TRANSPORTE" %}</th>
                <th>{% trans "FRECUENCIA" %}</th>
                <th>%</th>
                <th>{% trans "CANTIDAD" %}</th>
                <th>{% trans "Promedio por familia" %}</th>
            </tr>
        </thead>
        <tbody>
            {%for key, value in transporte.items%}
            <tr>
                <td>{{key|unslugify}}</td>
                <td>{{value.frecuencia|floatformat}}</td>
                <td>{{value.por_frecuencia|floatformat}}</td>
                <td>{{value.trans|floatformat}}</td>
                <td>{{value.por_trans|floatformat}}</td>
            </tr>
            {%endfor%}
        <tbody>
    </table>
</div>
</div>
<div class="clean"></div>
{% endblock %}
