{% extends "basenueva.html" %}
{%load unslugify %}
{% block barra %}
{% endblock %}
{% load i18n %}
{% block content %}
{% include "filtros.html" %}
<div class="contenido fulltabla">
	<div class="subindicador">{% trans "Los Animales" %}
    {%if LANGUAGE_CODE == 'es' %}
        <a href="#" class="btn btn-mini exportar guardarXLS" onclick="exportarXLS('modalidad'); return false;"><img src="{{STATIC_URL}}img/excel.png"> Exportar</a>
    {%endif%}
    {%if LANGUAGE_CODE == 'en' %}
        <a href="#" class="btn btn-mini exportar guardarXLS" onclick="exportarXLS('modalidad'); return false;"><img src="{{STATIC_URL}}img/excel.png"> Export</a>
    {%endif%}
    </div>
<div id="modalidad">
    <table style="width:100%;">
        <caption></caption>
        <thead>
            <tr>
                <th></th>
                <th>{% trans "Número de familias con" %}</th>
                <th>%</th>
                <th>{% trans "cantidad" %}</th>
                <th>{% trans "Cantidad/Familia" %}</th>
            </tr>
        </thead>
        <tbody>
<!--            <tr>-->
<!--                <td>TOTAL</td>-->
<!--                <td>{{totales.numero}}</td>-->
<!--                <td>{{totales.porcentaje_num}}</td>-->
<!--                <td>{{totales.animales}}</td>-->
<!--                <td>{{totales.porcentaje_animal}}</td>-->
<!--            </tr>-->
            {%for fila in tabla%}
            <tr>
                {%for celda in fila%}
                <td>{{celda}}</td>
                {%endfor%}
            </tr>
            {%endfor%}
        </tbody>
    </table>
	<div class="subindicador">{% trans "Los Animales y la Producción" %}</div>
    <table style="width:100%;">
        <thead>
            <tr>
                <th>{% trans "Animal" %}</th>
                <th>{% trans "Cantidad" %}</th>
                <th>{% trans "Producto" %}</th>
                <th>{% trans "Unidad" %}</th>
                <th>{% trans "Cantidad Producida" %}</th>
                <th>{% trans "Consumo" %}</th>
                <th>{% trans "Venta Libre" %}</th>
                <th>{% trans "Venta organizad" %}a</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {%for fila in tabla_produccion%}
            <tr>
                {%for celda in fila%}
                <td>{{celda}}</td>
                {%endfor%}
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
</div>
<div class="clean"></div>
<br></br>
{% endblock %}
